<%- load.element("sidemenu") %>

<script src="/ace/src/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/ace/src/theme-textmate.js" type="text/javascript" charset="utf-8"></script>
<script src="/ace/src/mode-markdown.js" type="text/javascript" charset="utf-8"></script>

<style type="text/css">
#editor {
width: 800px;
height: 490px;
background: white; 
}
</style>
<input type="submit" value="Edit" onClick="javascript: editMarkdown();" />

<div id="markdownView"><%- globals.md(load.element("test-ace")) %></div>

<div id="dialog" title="Markdown Page Editor">
    <div id="editor"><%= load.element("test-ace") %></div>
</div>
        
<script>
//buttons
$( "input:submit, button").button();
// Dialog
$('#dialog').dialog({
	autoOpen: false,
	width: 825,
    height:600,
    resizable: false,
	buttons: {
		"Save": function() {
			$(this).dialog("close");
		},
		"Cancel": function() {
			$(this).dialog("close");
		}
	}
});
function editMarkdown(){
    
    var editor = ace.edit("editor");
        editor.setTheme("ace/theme/textmate");
       editor.setShowPrintMargin(false);
    var MarkdownMode = require("ace/mode/markdown").Mode;
        editor.getSession().setMode(new MarkdownMode());
        
        $( "#dialog" ).dialog( "open" );
}
</script>